@model IEnumerable<Music_app.ViewModels.DsgoiYVM>

@{
    ViewData["Title"] = "Danh sách gợi ý";
    Layout = "~/Views/Shared/_LayoutDsphat.cshtml";
}

<h2>Recommend Song</h2>


@foreach (var dsgoiY in Model)
{
	<div class="popular_song">
		<div class="h4">
			<h4>@dsgoiY.TenDsgoiY</h4>
			<div class="btn_s">
				<i id="left_scroll" class="bi bi-arrow-left-short"></i>
				<i id="right_scroll" class="bi bi-arrow-right-short"></i>
			</div>
		</div>
		<div class="pop_song">
			@foreach (var baiHat in dsgoiY.BaiHats)
			{
				<li class="songItem" data-linknhac="@baiHat.LinkNhac">
					<div class="img_play">
						<img src="~/Source/BaiHatIm/@baiHat.LinkAnh" alt=@baiHat.TenTG>
						<i class="bi playListPlay bi-play-circle " id="@baiHat.IdbaiHat" data-linknhac="@baiHat.LinkNhac"></i>
					</div>
					<h5>
						@baiHat.TenBaiHat
						<br>
						<div class="subtitle">@baiHat.TenTG</div>

					</h5>
				</li>

			}


		</div>
	</div>
}
